.bg-img {
  background-image: url(https://t4.ftcdn.net/jpg/03/48/58/83/360_F_348588333_yEOn7lnklwAcNVSWf3iHUpFqmDgyOvCD.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.h-110 {
  height: 100px;
}
